body {
    background-color: rgb(255, 255, 255);
}

h1 {
    color: rgb(79, 32, 1);
    font-family: verdana;
    font-size: 300%;
}

p_topic {
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 120%;
}

p_essay {
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 120%;
}

p_italic {
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 120%;
    font-style: italic;
}

tr:nth-child(odd) {
    margin: 1rem;
    background-color: #dcf6ff;
}

.table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

.table__header {
    padding: 50px;
    border: 1px solid #000000;
    text-align: left;
    background-color: #4CAF50;
    color: rgb(109, 86, 24);
    table-layout: fixed;
}

.table__cell {
    padding: 50px;
    border: 1px solid #ddd;
    text-align: middle;
    table-layout: fixed;
}